<footer class="px-0 jumbotron m-0 py-4">
  <div class="col-md-10 row m-0 px-0">

      <div class="col-md-3">
        <img src="./assets/img/GT UI/white_logo.png" />
        <br />
        <br />
       <p>Logo Ipsum and so on and so forth and its all rights reserved. All rights reserved.</p>
      <p>Copyright © 2020.</p>

      </div>

      <div class="col-md-3 pl-md-5">
       <a href="#">Services</a>
       <ul>
         <li>Email Marketing</li>
         <li>Campaign</li>
         <li>Branding</li>
         <li>Online</li>
       </ul>
      </div>

      <div class="col-md-3 pl-md-5">
       <a href="#">About</a>
       <ul>
        <li>Our Story</li>
        <li>Team</li>
        <li>Benefit</li>
        <li>Carreer</li>
      </ul>
      </div>

      <div class="subscribe col-md-3">
       <a href="#">Subscribe to our newsLetter</a>
       <br />
       <br />
       <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><img src="./assets/img/GT UI/search.png" /></button>
      </form>
      <ul>
          <li><img src="./assets/img/GT UI/fb.png" /></li>
          <li><img src="./assets/img/GT UI/twitter.png" /></li>
          <li><img src="./assets/img/GT UI/instagram.png" /></li>
      </ul>

      </div>

  </div>
</footer>

