<div class="main row px-0">


  <div class="articles d-flex flex-column justify-content-center align-items-center">
  <div class="grid-container">
    <app-article-card class="grid-item"></app-article-card>
    <app-article-card class="grid-item"></app-article-card>
    <app-article-card class="grid-item"></app-article-card>
    <app-article-card class="grid-item"></app-article-card>
    <app-article-card class="grid-item"></app-article-card>
    <app-article-card class="grid-item"></app-article-card>
    <app-article-card class="grid-item"></app-article-card>
    <app-article-card class="grid-item"></app-article-card>
    <app-article-card class="grid-item"></app-article-card>
  </div>
  <app-pagination></app-pagination>
  </div>


  <div class="sidebar">
    <app-side-category [title]="'Popular Posts'"></app-side-category>
    <app-side-category [title]="'Recent Posts'"></app-side-category>
  </div>
</div>

